<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrusrt.codegen.cpp.generator">
      <generator
            class="ca.queensu.cs.observer.umlrt.codegenerator.StateMachineExtendedGenerator$Factory"
            priority="High"
            type="StateMachineGenerator">
      </generator>
   </extension>

</plugin>
