<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ca.queensu.cs.observer.serializations" name="Serialization methods" schema="schema/ca.queensu.cs.observer.serializations.exsd"/>
   <extension-point id="ca.queensu.cs.observer.communications" name="Communication methods" schema="schema/ca.queensu.cs.observer.communications.exsd"/>
	<extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ca.queensu.cs.observer.ui.propertytester.ObserverPropertyTester"
            id="ca.queensu.cs.observer.ui.observerPropertyTester"
            namespace="ca.queensu.cs.observer.ui.observerPropertyTester"
            properties="isObserverLoaded, isNotObserverLoaded, isCapsuleObserved, isNotCapsuleObserved, isCapsulePartObserved, isNotCapsulePartObserved"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Load the Observer Capsule"
            id="ca.queensu.cs.observer.ui.loadObserver"
            name="Load observer capsule">
      </command>
      <command
            description="Unload the Observer Capsule"
            id="ca.queensu.cs.observer.ui.unloadObserver"
            name="Unload observer capsule">
      </command>
      <command
            description="Observe the capsule"
            id="ca.queensu.cs.observer.ui.observeCapsule"
            name="Observe">
      </command>
      <command
            description="Un-observe the capsule"
            id="ca.queensu.cs.observer.ui.unobserveCapsule"
            name="Un-observe">
      </command>
      <command
            description="Un-observe the capsule part"
            id="ca.queensu.cs.observer.ui.unobserveCapsulePart"
            name="Un-observe">
      </command>
      <command
            description="Observe the capsule part"
            id="ca.queensu.cs.observer.ui.observeCapsulePart"
            name="Observe">
      </command>
      <command
            description="Make the transition triggerable"
            id="ca.queensu.cs.observer.ui.makeTransitionTriggerable"
            name="Make triggerable">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <menu
               label="Observer">
               <command
               commandId="ca.queensu.cs.observer.ui.loadObserver"
               style="push">
                  <visibleWhen
                        checkEnabled="false">
                     <and>
                        <count
                              value="1">
                        </count>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.papyrusrt.codegen.papyrus.internal.propertytester.eClass"
                              value="Model">
                        </test>
                     </and>
                  </visibleWhen>
         </command>
         <command
               commandId="ca.queensu.cs.observer.ui.unloadObserver"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrusrt.codegen.papyrus.internal.propertytester.eClass"
                        value="Model">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="ca.queensu.cs.observer.ui.observeCapsule"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrusrt.codegen.papyrus.internal.propertytester.stereotype"
                        value="UMLRealTime::Capsule">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="ca.queensu.cs.observer.ui.unobserveCapsule"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrusrt.codegen.papyrus.internal.propertytester.stereotype"
                        value="UMLRealTime::Capsule">
                  </test>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="ca.queensu.cs.observer.ui.makeTransitionTriggerable"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <count
                        value="1">
                  </count>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.papyrusrt.codegen.papyrus.internal.propertytester.eClass"
                        value="Transition">
                  </test>
               </and>
            </visibleWhen>
         </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ca.queensu.cs.observer.ui.commands.LoadObserverHandler"
            commandId="ca.queensu.cs.observer.ui.loadObserver">
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.papyrusrt.codegen.papyrus.internal.propertytester.eClass"
                     value="Model">
               </test>
               <test
                     forcePluginActivation="true"
                     property="ca.queensu.cs.observer.ui.observerPropertyTester.isNotObserverLoaded"
                     value="true">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="ca.queensu.cs.observer.ui.commands.UnloadObserverHandler"
            commandId="ca.queensu.cs.observer.ui.unloadObserver">
         <enabledWhen>
         	<and>
               <count
                     value="1">
               </count>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.papyrusrt.codegen.papyrus.internal.propertytester.eClass"
                     value="Model">
               </test>
               <test
                     forcePluginActivation="true"
                     property="ca.queensu.cs.observer.ui.observerPropertyTester.isObserverLoaded"
                     value="true">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="ca.queensu.cs.observer.ui.commands.ObserveCapsuleHandler"
            commandId="ca.queensu.cs.observer.ui.observeCapsule">
         <enabledWhen>
         	<and>
               <count
                     value="1">
               </count>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.papyrusrt.codegen.papyrus.internal.propertytester.stereotype"
                     value="UMLRealTime::Capsule">
               </test>
               <test
                     forcePluginActivation="true"
                     property="ca.queensu.cs.observer.ui.observerPropertyTester.isNotCapsuleObserved"
                     value="true">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="ca.queensu.cs.observer.ui.commands.UnobserveCapsuleHandler"
            commandId="ca.queensu.cs.observer.ui.unobserveCapsule">
         <enabledWhen>
         	<and>
               <count
                     value="1">
               </count>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.papyrusrt.codegen.papyrus.internal.propertytester.stereotype"
                     value="UMLRealTime::Capsule">
               </test>
               <test
                     forcePluginActivation="true"
                     property="ca.queensu.cs.observer.ui.observerPropertyTester.isCapsuleObserved"
                     value="true">
               </test>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="ca.queensu.cs.observer.ui.commands.MakeTransitionTriggerableHandler"
            commandId="ca.queensu.cs.observer.ui.makeTransitionTriggerable">
         <enabledWhen>
            <and>
               <count
                     value="1">
               </count>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.papyrusrt.codegen.papyrus.internal.propertytester.eClass"
                     value="Transition">
               </test>
            </and>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.papyrusrt.umlrt.common.ui.papyrusrt"
            class="ca.queensu.cs.observer.ui.preferences.ObserverRootPreferencePage"
            id="ca.queensu.cs.observer.ui.preferences"
            name="Observer">
      </page>
      <page
            category="ca.queensu.cs.observer.ui.preferences"
            class="ca.queensu.cs.observer.ui.preferences.ObserverSerializationPreferencePage"
            id="ca.queensu.cs.observer.ui.preferences.serialization"
            name="Serialization methods">
      </page>
      <page
            category="ca.queensu.cs.observer.ui.preferences"
            class="ca.queensu.cs.observer.ui.preferences.ObserverCommunicationPreferencePage"
            id="ca.queensu.cs.observer.ui.preferences.communication"
            name="Communication methods">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ca.queensu.cs.observer.ui.preferences.ObserverPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.papyrusrt.views.category"
            class="ca.queensu.cs.observer.ui.views.ObserverExplorer"
            icon="img/observer.png"
            id="ca.queensu.cs.observer.ui.observerExplorer"
            name="Observer Explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="ca.queensu.cs.observer.ui.providers.ObserverExplorerContentProvider"
            id="ca.queensu.cs.observer.ui.observerExplorer.navigatorContent"
            labelProvider="ca.queensu.cs.observer.ui.providers.ObserverExplorerLabelProvider"
            name="Observer Explorer Navigator Content"
            priority="normal">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.uml2.uml.Model">
            </instanceof>
            <instanceof
                  value="org.eclipse.uml2.uml.Class">
            </instanceof>
            <instanceof
                  value="org.eclipse.uml2.uml.Property">
            </instanceof>
            <instanceof
                  value="ca.queensu.cs.observer.ui.providers.wrappers.CapsulePartWrapper">
            </instanceof></triggerPoints>
         <possibleChildren>
            <instanceof
                  value="org.eclipse.uml2.uml.Class">
            </instanceof>
            <instanceof
                  value="org.eclipse.uml2.uml.Property">
            </instanceof>
            <instanceof
                  value="ca.queensu.cs.observer.ui.providers.wrappers.CapsulePartWrapper">
            </instanceof>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="ca.queensu.cs.observer.ui.observerExplorer">
      </viewer>
      <viewerContentBinding
            viewerId="ca.queensu.cs.observer.ui.observerExplorer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="ca.queensu.cs.observer.ui.observerExplorer.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
</plugin>
