<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            iconpath="img/observer.png"
            name="Observation profile"
            path="platform:/resource/ca.queensu.cs.observer.profile/model/observation.profile.uml">
      </profile>
   </extension>

</plugin>
